@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;

	font-family: 'Bitter', serif;
	font-size: 16px;
}

html {
	box-sizing: content-box;
}

.wrap {
	max-width: 1400px;
	margin: 15px auto;
	/* border:2px solid green; */
	box-shadow: 2px 2px 20px #bbb;

	display: flex;
}

.left-part {
	width: 40%;
	background: #ddd;
	padding: 20px;
}

.photo img {
	border:5px solid #1389bf;
}

.photo {
	width: 300px;
	margin: 0 auto 3vh;
}

.photo img {
	width: 100%;
}

.title  {
	width: 300px;
	margin: 0 auto 50px;

	text-align: center;
}

.title h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #1389bf;
}

.section {
	margin-bottom: 50px;
}

.section__box {
	display: flex;

	margin-bottom: 20px;
}

.section-box__number {
	padding: 10px 20px;
	margin-right: 20px;

	background: #1389bf;

	color: #fff;
	font-size: 1.3125rem;
}

.section h2 {
	padding: 10px;
	vertical-align: center;

	font-size: 1.125rem;
	color: #1389bf;
	text-transform: uppercase;
}

.section li {
	list-style-type: none;
}

.section li:before {
	color: #1389bf;
	content: "•";
	margin-right: 10px;
}

.section a {
	text-decoration: none;
	color: #000;
}

.section a:hover {
	color: #1389bf;
}

.right-part {
	width: 60%;
	padding: 20px;
}

.section-row {
	display: flex;
	justify-content: space-around;
}
.project img{
	width: 200px;
	height: 150px;
	margin: 10px;

	border: 3px solid #1389bf;
}


@media screen and (max-width: 1100px) {
	* {
		font-size: 18px;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		box-shadow: none;
		margin: 0;
	}

	.left-part , .right-part  {
		width: 100%;
		margin: 0 auto;

		/* box-shadow: 2px 2px 20px #bbb; */
	}

	.section {
		max-width: 90%; 
		margin: 0 auto 50px;
	}
}	

@media screen and (max-width: 800px) {
	.section {
		width: 100%; 
		margin: 0 auto 50px;
	}
}	